@font-face {
  font-family: 'Blackcraft';
  src: url('/fonts/Blackcraft.ttf') format('.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Unutterable';
  src: url('/fonts/Unutterable.ttf') format('.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'UnutterableItalic';
  src: url('/fonts/UnutterableItalic.ttf') format('.ttf');
  font-style: normal;
  font-weight: 400;
}
